<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="images/favicon.html">
    <title>QuotaDeck</title>
    <!--Core CSS -->
    <link href="theme/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="theme/assets/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet">
    <link href="theme/css/bootstrap-reset.css" rel="stylesheet">
    <link href="theme/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="theme/assets/jvector-map/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="theme/css/clndr.css" rel="stylesheet">
    <!--clock css-->
    <link href="theme/assets/css3clock/css/style.css" rel="stylesheet">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="theme/assets/morris-chart/morris.css">
    <!-- Custom styles for this template -->
    <link href="theme/css/style.css" rel="stylesheet">
    <link href="theme/css/style-responsive.css" rel="stylesheet"/>
</head>
<body>
<section id="container">
<nav id="navbars" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="wrapper">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html#/home">
                    <img src="partials/images/logo.png" class="logo" alt="logo">QuotaDeck.</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                     <li class=""><a href="index.html#/findJob">Find Opportunities</a>
                    </li>
                     <li class=""><a href="index.html#/createJob">Create an Sales Target</a>
                    </li>
                     <li class=""><a href="dashboard/index.html">Dashboard</a>
                    </li>
                    <li class=""><a href="index.html#/createJob">How it works</a>
                    </li>
                    <li><a class="nav-spacer">&nbsp;</a>
                    </li>
                    <li><a href="index.html#/login">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /wrapper -->
    </nav>
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="theme/index-2.html">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-laptop"></i>
                        <span>Layouts</span>
                    </a>
                    <ul class="sub">
                        <li><a href="theme/boxed_page.html">Boxed Page</a></li>
                        <li><a href="theme/horizontal_menu.html">Horizontal Menu</a></li>
                        <li><a href="theme/language_switch.html">Language Switch Bar</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>UI Elements</span>
                    </a>
                    <ul class="sub">
                        <li><a href="theme/general.html">General</a></li>
                        <li><a href="theme/buttons.html">Buttons</a></li>
                        <li><a href="theme/widget.html">Widget</a></li>
                        <li><a href="theme/slider.html">Slider</a></li>
                        <li><a href="theme/tree_view.html">Tree View</a></li>
                        <li><a href="theme/nestable.html">Nestable</a></li>
                        <li><a href="theme/grids.html">Grids</a></li>
                        <li><a href="theme/calendar.html">Calender</a></li>
                        <li><a href="theme/draggable_portlet.html">Draggable Portlet</a></li>
                    </ul>
                </li>
                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-bullhorn"></i>
                        <span>Fontawesome</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-th"></i>
                        <span>Data Tables</span>
                    </a>
                    <ul class="sub">
                        <li><a href="theme/basic_table.html">Basic Table</a></li>
                        <li><a href="theme/responsive_table.html">Responsive Table</a></li>
                        <li><a href="theme/dynamic_table.html">Dynamic Table</a></li>
                        <li><a href="theme/editable_table.html">Editable Table</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>
                        <span>Form Components</span>
                    </a>
                    <ul class="sub">
                        <li><a href="theme/form_component.html">Form Elements</a></li>
                        <li><a href="theme/advanced_form.html">Advanced Components</a></li>
                        <li><a href="theme/form_wizard.html">Form Wizard</a></li>
                        <li><a href="theme/form_validation.html">Form Validation</a></li>
                        <li><a href="theme/file_upload.html">Muliple File Upload</a></li>

                        <li><a href="theme/dropzone.html">Dropzone</a></li>
                        <li><a href="theme/inline_editor.html">Inline Editor</a></li>

                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-envelope"></i>
                        <span>Mail </span>
                    </a>
                    <ul class="sub">
                        <li><a href="theme/mail.html">Inbox</a></li>
                        <li><a href="theme/mail_compose.html">Compose Mail</a></li>
                        <li><a href="theme/mail_view.html">View Mail</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>Charts</span>
                    </a>
                    <ul class="sub">
                        <li><a href="theme/morris.html">Morris</a></li>
                        <li><a href="theme/chartjs.html">Chartjs</a></li>
                        <li><a href="theme/flot_chart.html">Flot Charts</a></li>
                        <li><a href="theme/c3_chart.html">C3 Chart</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>Maps</span>
                    </a>
                    <ul class="sub">
                        <li><a href="theme/google_map.html">Google Map</a></li>
                        <li><a href="theme/vector_map.html">Vector Map</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-glass"></i>
                        <span>Extra</span>
                    </a>
                    <ul class="sub">
                        <li><a href="theme/blank.html">Blank Page</a></li>
                        <li><a href="theme/lock_screen.html">Lock Screen</a></li>
                        <li><a href="theme/profile.html">Profile</a></li>
                        <li><a href="theme/invoice.html">Invoice</a></li>
                        <li><a href="theme/pricing_table.html">Pricing Table</a></li>
                        <li><a href="theme/timeline.html">Timeline</a></li>                    
<li><a href="gallery.html">Media Gallery</a></li><li><a href="404.html">404 Error</a></li>
                        <li><a href="theme/500.html">500 Error</a></li>
                        <li><a href="theme/registration.html">Registration</a></li>
                    </ul>
                </li>
                <li>
                    <a href="theme/login.html">
                        <i class="fa fa-user"></i>
                        <span>Login Page</span>
                    </a>
                </li>
            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
<section class="wrapper">

<!--mini statistics start-->
<div class="row">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="gauge-canvas">
                        <h4 class="widget-h">Monthly Sales Goal</h4>
                        <canvas width=160 height=100 id="gauge"></canvas>
                    </div>
                    <ul class="gauge-meta clearfix">
                        <li id="gauge-textfield" class="pull-left gauge-value"></li>
                        <li class="pull-right gauge-title">Reached</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Interests</h4>
                        <div id="daily-visit-chart" style="width:100%; height: 100px; display: block">

                        </div>
                        <ul class="chart-meta clearfix">
                            <li class="pull-left visit-chart-value">3233</li>
                            <li class="pull-right visit-chart-title"><i class="fa fa-arrow-up"></i> 15%</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <h4 class="widget-h">Top Markets</h4>
                    <div class="sm-pie">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <h4 class="widget-h">Daily Sales</h4>
                    <div class="bar-stats">
                        <ul class="progress-stat-bar clearfix">
                            <li data-percent="50%"><span class="progress-stat-percent pink"></span></li>
                            <li data-percent="90%"><span class="progress-stat-percent"></span></li>
                            <li data-percent="70%"><span class="progress-stat-percent yellow-b"></span></li>
                        </ul>
                        <ul class="bar-legend">
                            <li><span class="bar-legend-pointer pink"></span> Draper</li>
                            <li><span class="bar-legend-pointer green"></span> Salt Lake</li>
                            <li><span class="bar-legend-pointer yellow-b"></span> Provo</li>
                        </ul>
                        <div class="daily-sales-info">
                            <span class="sales-count">571 </span> <span class="sales-label">Sales Made</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!--mini statistics end-->
<div class="row">
    <div class="col-md-8">
        <!--earning graph start-->
        <section class="panel">
            <header class="panel-heading">
                Earning Graph <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down"></a>
            <a href="javascript:;" class="fa fa-cog"></a>
            <a href="javascript:;" class="fa fa-times"></a>
            </span>
            </header>
            <div class="panel-body">

                <div id="graph-area" class="main-chart">
                </div>
                <div class="region-stats">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="region-earning-stats">
                                This year total earning <span>$387,844</span>
                            </div>
                            <ul class="clearfix location-earning-stats">
                                <li class="stat-divider">
                                    <span class="first-city">$193,922</span>
                                    Provo, UT </li>
                                <li class="stat-divider">
                                    <span class="second-city">$124,660</span>
                                    Salt Lake City, UT </li>
                                <li>
                                    <span class="third-city">$69,262</span>
                                    Baltimore, MD </li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <div id="world-map" class="vector-stat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--earning graph end-->
    </div>
    <div class="col-md-4">
        <!--widget graph start-->
        <section class="panel">
            <div class="panel-body">
                <div class="monthly-stats pink">
                    <div class="clearfix">
                        <h4 class="pull-left"> February 2014</h4>
                        <!-- Nav tabs -->
                        <div class="btn-group pull-right stat-tab">
                            <a href="#line-chart" class="btn stat-btn active" data-toggle="tab"><i class="ico-stats"></i></a>
                            <a href="#bar-chart" class="btn stat-btn" data-toggle="tab"><i class="ico-bars"></i></a>
                        </div>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="line-chart">
                            <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-min-spot-color="false" data-max-spot-color="false" data-line-color="#ffffff" data-spot-color="#ffffff" data-fill-color="" data-highlight-line-color="#ffffff" data-highlight-spot-color="#e1b8ff" data-spot-radius="3" data-data="[100,200,459,234,600,800,345,987,675,457,765]">
                            </div>
                        </div>
                        <div class="tab-pane" id="bar-chart">
                            <div class="sparkline" data-type="bar" data-resize="true" data-height="75" data-width="90%" data-bar-color="#d4a7f5" data-bar-width="10" data-data="[300,200,500,700,654,987,457,300,876,454,788,300,200,500,700,654,987,457,300,876,454,788]"></div>
                        </div>
                    </div>
                </div>
                <div class="circle-sat">
                    <ul>
                        <li class="left-stat-label"><span class="sell-percent">60%</span><span>Direct Sell</span></li>
                        <li><span class="epie-chart" data-percent="45">
                        <span class="percent"></span>
                        </span></li>
                        <li class="right-stat-label"><span class="sell-percent">40%</span><span>Channel Sell</span></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--widget graph end-->
        <!--widget graph start-->
        <section class="panel">
            <div class="panel-body">
                <ul class="clearfix prospective-spark-bar">
                    <li class="pull-left spark-bar-label">
                        <span class="bar-label-value"> $18,887</span>
                        <span>Projected Sales</span>
                    </li>
                    <li class="pull-right">
                        <div class="sparkline" data-type="bar" data-resize="true" data-height="40" data-width="90%" data-bar-color="#f6b0ae" data-bar-width="5" data-data="[300,200,500,700,654,987,457,300,876,454,788,300,200,500,700,654,987,457,300,876,454,788]"></div>
                    </li>
                </ul>
            </div>
        </section>
        <!--widget graph end-->

    </div>
</div>
<!--mini statistics start-->
<div class="row">
    <div class="col-md-3">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon orange"><i class="fa fa-gavel"></i></span>
            <div class="mini-stat-info">
                <span>320</span>
                New Order Received
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon tar"><i class="fa fa-tag"></i></span>
            <div class="mini-stat-info">
                <span>22,450</span>
                Copy Sold Today
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon pink"><i class="fa fa-money"></i></span>
            <div class="mini-stat-info">
                <span>34,320</span>
                Dollar Profit Today
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
            <div class="mini-stat-info">
                <span>32720</span>
                Unique Visitors
            </div>
        </div>
    </div>
</div>
<!--mini statistics end-->


<div class="row">
     <div class="col-md-4">
        <div class="prf-box">
            <h3 class="prf-border-head">Top Sales People</h3>
            <div class=" wk-progress tm-membr">
                <div class="col-md-2 col-xs-2">
                    <div class="tm-avatar">
                        <img src="theme/images/lock_thumb.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-xs-7">
                    <span class="tm">John Boltana - $27,180</span>
                </div>
                <div class="col-md-3 col-xs-3">
                    <a href="#" class="btn btn-white">Reward</a>
                </div>
            </div>
            <div class=" wk-progress tm-membr">
                <div class="col-md-2 col-xs-2">
                    <div class="tm-avatar">
                        <img src="theme/images/avatar-mini-2.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-xs-7">
                    <span class="tm">Bryn Willis - $20,085</span>
                </div>
                <div class="col-md-3 col-xs-3">
                    <a href="#" class="btn btn-white">Reward</a>
                </div>
            </div>
            <div class=" wk-progress tm-membr">
                <div class="col-md-2 col-xs-2">
                    <div class="tm-avatar">
                        <img src="theme/images/avatar-mini-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-xs-7">
                    <span class="tm">Eric Schmidt - $15,035</span>
                </div>
                <div class="col-md-3 col-xs-3">
                    <a href="#" class="btn btn-white">Reward</a>
                </div>
            </div>
            <div class=" wk-progress tm-membr">
                <div class="col-md-2 col-xs-2">
                    <div class="tm-avatar">
                         <img src="theme/images/lock_thumb.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-xs-7">
                    <span class="tm">Amy Stamos - $14,300</span>
                </div>
                <div class="col-md-3 col-xs-3">
                    <a href="#" class="btn btn-white">Reward</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="event-calendar clearfix">
            <div class="col-lg-7 calendar-block">
                <div class="cal1 ">
                </div>
            </div>
            <div class="col-lg-5 event-list-block">
                <div class="cal-day">
                    <span>Today</span>
                    Friday
                </div>
                <ul class="event-list">
                    <li>Lunch with John @ 3:30 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                    <li>Coffee meeting with Lisa @ 4:30 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                    <li>Skype conference with patrick @ 5:45 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                    <li>Introduction @ 7:00 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>
                    <li>Sales pitch with daniel @ 9:30 <a href="#" class="event-close"><i class="ico-close2"></i></a></li>

                </ul>
                <input type="text" class="form-control evnt-input" placeholder="NOTES">
            </div>
        </div>
    </div>
</div>

</section>
</section>
<!--main content end-->
<!--right sidebar start-->
<div class="right-sidebar">
<div class="search-row">
    <input type="text" placeholder="Search" class="form-control">
</div>
<div class="right-stat-bar">
<ul class="right-side-accordion">
<li class="widget-collapsible">
    <a href="#" class="head widget-head red-bg active clearfix">
        <span class="pull-left">work progress (5)</span>
        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
    </a>
    <ul class="widget-container">
        <li>
            <div class="prog-row side-mini-stat clearfix">
                <div class="side-graph-info">
                    <h4>Target sell</h4>
                    <p>
                        25%, Deadline 12 june 13
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="target-sell">
                    </div>
                </div>
            </div>
            <div class="prog-row side-mini-stat">
                <div class="side-graph-info">
                    <h4>product delivery</h4>
                    <p>
                        55%, Deadline 12 june 13
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="p-delivery">
                        <div class="sparkline" data-type="bar" data-resize="true" data-height="30" data-width="90%" data-bar-color="#39b7ab" data-bar-width="5" data-data="[200,135,667,333,526,996,564,123,890,564,455]">
                        </div>
                    </div>
                </div>
            </div>
            <div class="prog-row side-mini-stat">
                <div class="side-graph-info payment-info">
                    <h4>payment collection</h4>
                    <p>
                        25%, Deadline 12 june 13
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="p-collection">
						<span class="pc-epie-chart" data-percent="45">
						<span class="percent"></span>
						</span>
                    </div>
                </div>
            </div>
            <div class="prog-row side-mini-stat">
                <div class="side-graph-info">
                    <h4>delivery pending</h4>
                    <p>
                        44%, Deadline 12 june 13
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="d-pending">
                    </div>
                </div>
            </div>
            <div class="prog-row side-mini-stat">
                <div class="col-md-12">
                    <h4>total progress</h4>
                    <p>
                        50%, Deadline 12 june 13
                    </p>
                    <div class="progress progress-xs mtop10">
                        <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                            <span class="sr-only">50% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
<li class="widget-collapsible">
    <a href="#" class="head widget-head terques-bg active clearfix">
        <span class="pull-left">contact online (5)</span>
        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
    </a>
    <ul class="widget-container">
        <li>
            <div class="prog-row">
                <div class="user-thumb">
                    <a href="#"><img src="theme/images/avatar1_small.jpg" alt=""></a>
                </div>
                <div class="user-details">
                    <h4><a href="#">Jonathan Smith</a></h4>
                    <p>
                        Work for fun
                    </p>
                </div>
                <div class="user-status text-danger">
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <div class="prog-row">
                <div class="user-thumb">
                    <a href="#"><img src="theme/images/avatar1.jpg" alt=""></a>
                </div>
                <div class="user-details">
                    <h4><a href="#">Anjelina Joe</a></h4>
                    <p>
                        Available
                    </p>
                </div>
                <div class="user-status text-success">
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <div class="prog-row">
                <div class="user-thumb">
                    <a href="#"><img src="theme/images/chat-avatar2.jpg" alt=""></a>
                </div>
                <div class="user-details">
                    <h4><a href="#">John Doe</a></h4>
                    <p>
                        Away from Desk
                    </p>
                </div>
                <div class="user-status text-warning">
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <div class="prog-row">
                <div class="user-thumb">
                    <a href="#"><img src="theme/images/avatar1_small.jpg" alt=""></a>
                </div>
                <div class="user-details">
                    <h4><a href="#">Mark Henry</a></h4>
                    <p>
                        working
                    </p>
                </div>
                <div class="user-status text-info">
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <div class="prog-row">
                <div class="user-thumb">
                    <a href="#"><img src="theme/images/avatar1.jpg" alt=""></a>
                </div>
                <div class="user-details">
                    <h4><a href="#">Shila Jones</a></h4>
                    <p>
                        Work for fun
                    </p>
                </div>
                <div class="user-status text-danger">
                    <i class="fa fa-comments-o"></i>
                </div>
            </div>
            <p class="text-center">
                <a href="#" class="view-btn">View all Contacts</a>
            </p>
        </li>
    </ul>
</li>
<li class="widget-collapsible">
    <a href="#" class="head widget-head purple-bg active">
        <span class="pull-left"> recent activity (3)</span>
        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
    </a>
    <ul class="widget-container">
        <li>
            <div class="prog-row">
                <div class="user-thumb rsn-activity">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="rsn-details ">
                    <p class="text-muted">
                        just now
                    </p>
                    <p>
                        <a href="#">Jim Doe </a>Purchased new equipments for zonal office setup
                    </p>
                </div>
            </div>
            <div class="prog-row">
                <div class="user-thumb rsn-activity">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="rsn-details ">
                    <p class="text-muted">
                        2 min ago
                    </p>
                    <p>
                        <a href="#">Jane Doe </a>Purchased new equipments for zonal office setup
                    </p>
                </div>
            </div>
            <div class="prog-row">
                <div class="user-thumb rsn-activity">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="rsn-details ">
                    <p class="text-muted">
                        1 day ago
                    </p>
                    <p>
                        <a href="#">Jim Doe </a>Purchased new equipments for zonal office setup
                    </p>
                </div>
            </div>
        </li>
    </ul>
</li>
<li class="widget-collapsible">
    <a href="#" class="head widget-head yellow-bg active">
        <span class="pull-left"> shipment status</span>
        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
    </a>
    <ul class="widget-container">
        <li>
            <div class="col-md-12">
                <div class="prog-row">
                    <p>
                        Full sleeve baby wear (SL: 17665)
                    </p>
                    <div class="progress progress-xs mtop10">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="prog-row">
                    <p>
                        Full sleeve baby wear (SL: 17665)
                    </p>
                    <div class="progress progress-xs mtop10">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">70% Completed</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
</ul>

</div>

</div>
<!--right sidebar end-->
</section>
<!-- Placed js at the end of the document so the pages load faster -->
<!--Core js-->
<script src="theme/js/library/jquery.js"></script>
<script src="theme/assets/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script src="theme/bs3/js/bootstrap.min.js"></script>
<script src="theme/js/accordion-menu/jquery.dcjqaccordion.2.7.js"></script>
<script src="theme/js/scrollTo/jquery.scrollTo.min.js"></script>
<script src="theme/assets/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="theme/js/nicescroll/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="theme/assets/skycons/skycons.js"></script>
<script src="theme/assets/jquery.scrollTo/jquery.scrollTo.js"></script>
<script src="cdnjs.cloudflare.com/ajax/library/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="theme/assets/calendar/clndr.js"></script>
<script src="cdnjs.cloudflare.com/ajax/library/underscore.js/1.5.2/underscore-min.js"></script>
<script src="theme/assets/calendar/moment-2.2.1.js"></script>
<script src="theme/js/calendar/evnt.calendar.init.js"></script>
<script src="theme/assets/jvector-map/jquery-jvectormap-1.2.2.min.js"></script>
<script src="theme/assets/jvector-map/jquery-jvectormap-us-lcc-en.js"></script>
<script src="theme/assets/gauge/gauge.js"></script>
<!--clock init-->
<script src="theme/assets/css3clock/js/script.js"></script>
<!--Easy Pie Chart-->
<script src="theme/assets/easypiechart/jquery.easypiechart.js"></script>
<!--Sparkline Chart-->
<script src="theme/assets/sparkline/jquery.sparkline.js"></script>
<!--Morris Chart-->
<script src="theme/assets/morris-chart/morris.js"></script>
<script src="theme/assets/morris-chart/raphael-min.js"></script>
<!--jQuery Flot Chart-->
<script src="theme/assets/flot-chart/jquery.flot.js"></script>
<script src="theme/assets/flot-chart/jquery.flot.tooltip.min.js"></script>
<script src="theme/assets/flot-chart/jquery.flot.resize.js"></script>
<script src="theme/assets/flot-chart/jquery.flot.pie.resize.js"></script>
<script src="theme/assets/flot-chart/jquery.flot.animator.min.js"></script>
<script src="theme/assets/flot-chart/jquery.flot.growraf.js"></script>
<script src="theme/js/dashboard.js"></script>
<script src="theme/js/custom-select/jquery.customSelect.min.js" ></script>
<!--common script init for all pages-->
<script src="theme/js/scripts.js"></script>

<!--script for this page-->
</body>

</html>