<div class="container">

    <h1>Find your next Sales Opportunity</h1>

    <div>
       <p>Browse the hottest offers from companies. You have connections and they want access to them. Are you willing to make a connection and get paid in the process? </p>
    </div>

    <div class="row">
    <div class="col-xs-12 col-sm-3 pull-left">
        <div class="filterbox col-sm-12">
            <h3>Find Ops</h3>
            <hr/>
            <input type="text" ng-model="searchText" placeholder="Search" class="form-control center">
            <br/>
            <a href="" class="btn btn-success form-control center" ng-click="predicate = 'voteCount'; reverse=!reverse">Sort by Commission</a></a>
            <br/>
            <a href="" class="btn btn-info form-control center" ng-click="predicate = 'datecreated'; reverse=!reverse">Sort by Date</a></a>

        </div>
    </div>
    <div class="bs-example col-xs-12 col-sm-9 pull-right">
        <br/><br/><br/>
        <div class="well">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>The Op</th>
                <th>Company</th>
                <th>Description</th>
                <th>Commission</th>
            </tr>
            </thead>
            <tbody ng-repeat="job in jobList | filter:searchText | orderBy:predicate:reverse">
                <tr>
                    <td><a href="#/jobDetails/{{job.id - 1}}">{{ job.jobTitle }}</a></td>
                    <td>{{ job.company }}</td>
                    <td>{{ job.jobDescription | lenLimit100 }}</td>
                    <td>{{ job.commission | currency}}</td>

                </tr>
            </tbody>
        </table>
            </div>
    </div>

    </div>

</div>