<div class="container">






<style type="text/css">
.col-lg-12>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.col-lg-12 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: #808285 !important;
    text-transform:capitalize !important;
    font-weight: 400 !important;
}
input[type=radio]{
    width: 20px;
}

h3{
    color:#42bd91 !important;
}

</style>

    <div class="row">
        <div class="col-lg-12" style="align:center">
            <img src="partials/images/logo.gif" class="img-responsive">
            <h1 class="uppercase hugetext text-center">Freelance your sales team</h1>
            <br/><br/>
            <p class="text-center">
                <div class="row text-center">
                    <div class="col-lg-12">

                        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                        <style type="text/css">
                            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                        </style>
                        <div id="mc_embed_signup">
                        <form action="http://QuotaDeck.us3.list-manage.com/subscribe/post?u=f25f8251edd330539fb49683b&amp;id=f7e7c30f16" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="mc-field-group center">
                           <span> <input type="email" class="form-control center" style="width: 50%" value="" name="EMAIL" placeholder="Email address" class="required email text-center" id="mce-EMAIL">
                            <input type="text" value="" name="NAME" class="form-control center" style="margin-top:10px; width: 50%" placeholder="Full name" class="text-center" id="mce-NAME"></span>
                        </div>
                        <div class="mc-field-group input-group text-center" style="margin-left: auto; margin-right: auto;margin-top:10px; margin-bottom:10px;">
                           <span><input type="radio" value="I'm a Salesperson" name="MMERGE3" id="mce-MMERGE3-0"><label for="mce-MMERGE3-0" style="margin-right: 20px;"> I'm a Salesperson</label>
                        <input type="radio" value="I'm Looking for Salespeople" name="MMERGE3" id="mce-MMERGE3-1"><label for="mce-MMERGE3-1" style="margin-right: 20px;"> I'm Looking for Salespeople</label> </span>

                        </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_f25f8251edd330539fb49683b_f7e7c30f16" value=""></div>
                            <div class="clear text-center"><input type="submit" style="background-color: #42bb91;" value="notify me when you launch" name="subscribe" id="mc-embedded-subscribe" class="button img-responsive"></div>
                        </form>
                        </div>
                    </div>
                </div>

            </p>
        </div>
    </div>
    <br/><br/>
</div>

    <section id="testimoni" class="testimoni2" style="background-color:white; padding-top: 10px; border-top: 1px solid rgb(94, 94, 94); border-bottom: 1px solid rgb(94, 94, 94);">
        <div class="container">
                <div class="row">
                    <!-- featured 1 -->
                        <div class="col-sm-3 center">
                            <div class="featured-box text-center">
                                <h3>No Salaries</h3>

                                <p>Have a quality sales team with no long term commitment.</p>
                            </div>
                        </div>
                        <!-- featured 2 -->
                        <div class="col-sm-3 center">
                            <div class="featured-box text-center">
                                <h3>Gain Access</h3>

                                <p>Leverage your freelance sales team's roladex and industry experience.</p>
                            </div>
                        </div>

                    <!-- featured 3 -->
                    <div class="col-sm-3 center">
                        <div class="featured-box text-center">
                            <h3>Extra Income</h3>

                            <p>Make this your full time job or simply some money on the side.</p>
                        </div>
                    </div>
                    <!-- featured 4 -->
                    <div class="col-sm-3 center">
                        <div class="featured-box text-center">
                            <h3>Flexibility</h3>

                            <p>Create your own schedule and sell into an industry you already know.</p>
                        </div>
                    </div>
                </div>
        </div>
    </section>
<div class="container">
        <br/><br/>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Select your sales rep & </h1>

            <h2> start making money in 3 minutes</h2>
        </div>
    </div>


        <br/><br/>

        <a href="/public/s-dashboard.html"><img src="partials/images/demo.png" style="width:100%; margin-bottom:25px;" class="img-responsive"></a>
        <br/>

    <section class="action text-center">
        <div class="action-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="white text-center">A PLATFORM FOR SALES PEOPLE AND COMPANIES TO CONNECT, COLLABORATE, AND SELL MORE.</h4>
                            <br/>
                            <nav class="cl-effect-8">
                                <a href="javascript:;" data-hover="test">Sign up for QuotaDeck</a>
                                <a href="partials/personal.html" data-hover="test">Tell a friend</a>
                            </nav>
                        </div>
                    </div>
        </div>
    </section>








</div>
