<div class="container">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="uppercase hugetext text-center">Hire Freelance Sales People</h1>
            <h2 class="grey text-center">Less overhead. <strong>Pay only for results.</strong> Make more money.</h2>
            <br/><br/>
            <p class="text-center">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <input type="text" ng-model="name" placeholder="Walter Smith" class="">
                        <input type="text" ng-model="email" placeholder="Walt@Juno.com" class="">

                <a href="index.html#/register" class="button button-white-side">I Want to Hire</a>
                <a href="index.html#/register" class="button button-white-side">I Want to Sell</a>
                    </div>
                </div>

            </p>
        </div>
    </div>
    <br/><br/>
</div>

    <section id="testimoni" class="testimoni2">
        <div class="container">
                <div class="row">
                    <!-- featured 1 -->
                    <div class="col-lg-3">
                        <div class="featured-box text-center">
                            <h3>No Salaries</h3>

                            <p>Have a quality sales team with no long term commitment.</p>
                        </div>
                    </div>
                    <!-- featured 2 -->
                    <div class="col-lg-3">
                        <div class="featured-box text-center">
                            <h3>Gain Access</h3>

                            <p>Leverage your freelance sales team's roladex and industry experience.</p>
                        </div>
                    </div>
                    <!-- featured 3 -->
                    <div class="col-lg-3">
                        <div class="featured-box text-center">
                            <h3>Extra Income</h3>

                            <p>Make this your full time job or simply some money on the side.</p>
                        </div>
                    </div>
                    <!-- featured 4 -->
                    <div class="col-lg-3">
                        <div class="featured-box text-center">
                            <h3>Flexibility</h3>

                            <p>Create your own schedule and sell into an industry you already know.</p>
                        </div>
                    </div>
                </div>
        </div>
    </section>
<div class="container">
        <br/><br/>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Select your a sales rep & </h1>

            <h2> start making money in 3 minutes</h2>
        </div>
    </div>


        <br/><br/><br/>

    <section class="action text-center">
        <div class="action-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="white text-center">A PLATFORM FOR SALES PEOPLE AND COMPANIES TO CONNECT, COLLABORATE, AND SELL MORE.</h4>
                            <br/>
                            <nav class="cl-effect-8">
                                <a href="javascript:;" data-hover="test">Sign up for QuotaDeck</a>
                                <a href="partials/personal.html" data-hover="test">Tell a friend</a>
                            </nav>
                        </div>
                    </div>
        </div>
    </section>


</div>
