<div class="container">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="uppercase hugetext text-center">Hire Freelance Sales People</h1>
            <h2 class="grey text-center">Less overhead. <strong>Pay only for results.</strong> Make more money.</h2>
            <br/><br/>
            <p class="text-center">
                <div class="row text-center">
                    <div class="col-lg-12">                    




                        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                        <style type="text/css">
                            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                        </style>
                        <div id="mc_embed_signup">
                        <form action="http://QuotaDeck.us3.list-manage.com/subscribe/post?u=f25f8251edd330539fb49683b&amp;id=f7e7c30f16" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="mc-field-group">
                            <input type="email" value="" name="EMAIL" style="float:left" placeholder="Email address" class="required email" id="mce-EMAIL">
                        </div>
                        <div class="mc-field-group">
                            <input type="text" value="" name="NAME" placeholder="Full name" class="" id="mce-NAME">
                        </div>
                        <div class="mc-field-group input-group">
                            <input type="radio" value="I'm a Salersperson" name="MMERGE3" id="mce-MMERGE3-0"><label for="mce-MMERGE3-0">I'm a Salersperson</label>
                        <input type="radio" value="I'm Looking for Salespeople" name="MMERGE3" id="mce-MMERGE3-1"><label for="mce-MMERGE3-1">I'm Looking for Salespeople</label>
                        
                        </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_f25f8251edd330539fb49683b_f7e7c30f16" value=""></div>
                            <div class="clear"><input type="submit" value="Hook me up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </form>
                        </div>




                <a href="index.html#/register" class="button button-white-side-hire">I Want to Hire</a>
                <a href="index.html#/register" class="button button-white-side-sell">I Want to Sell</a>
                    </div>
                </div>

            </p>
        </div>
    </div>
    <br/><br/>
</div>

    <section id="testimoni" class="testimoni2">
        <div class="container">
                <div class="row">
                    <!-- featured 1 -->
                        <div class="col-lg-3">
                            <div class="featured-box text-center">
                                <h3>No Salaries</h3>

                                <p>Have a quality sales team with no long term commitment.</p>
                            </div>
                        </div>
                        <!-- featured 2 -->
                        <div class="col-lg-3">
                            <div class="featured-box text-center">
                                <h3>Gain Access</h3>

                                <p>Leverage your freelance sales team's roladex and industry experience.</p>
                            </div>
                        </div>

                    <!-- featured 3 -->
                    <div class="col-lg-3">
                        <div class="featured-box text-center">
                            <h3>Extra Income</h3>

                            <p>Make this your full time job or simply some money on the side.</p>
                        </div>
                    </div>
                    <!-- featured 4 -->
                    <div class="col-lg-3">
                        <div class="featured-box text-center">
                            <h3>Flexibility</h3>

                            <p>Create your own schedule and sell into an industry you already know.</p>
                        </div>
                    </div>
                </div>
        </div>
    </section>
<div class="container">
        <br/><br/>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Select your sales rep & </h1>

            <h2> start making money in 3 minutes</h2>
        </div>
    </div>


        <br/><br/><br/>

    <section class="action text-center">
        <div class="action-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="white text-center">A PLATFORM FOR SALES PEOPLE AND COMPANIES TO CONNECT, COLLABORATE, AND SELL MORE.</h4>
                            <br/>
                            <nav class="cl-effect-8">
                                <a href="javascript:;" data-hover="test">Sign up for QuotaDeck</a>
                                <a href="partials/personal.html" data-hover="test">Tell a friend</a>
                            </nav>
                        </div>
                    </div>
        </div>
    </section>


</div>
