<div class="container">

    <div class="row">
    <div class="col-xs-12 col-sm-4 pull-left">
        <div class="filterbox col-sm-12">
            <div class="list-group bs-example">

                <hr/>
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Old_Nike_logo.jpg/200px-Old_Nike_logo.jpg" width="175px" class="img-responsive center">
                <h4>{{ company.companyName }}</h4>

                <p>{{ company.city }}
                    <br/>{{ company.state }}
                    <br/>{{ company.phone }}
                    <br/>{{ company.website }}
                </p>
                <hr/>
                <br/>
                <div>
                    <p><strong>Want to Apply?</strong> It's easy, just fill this out and submit.</p>
                    <input type="text" ng-model="cost" placeholder="My Fee" class="sidebar-input">
                    <textarea type="textarea" ng-model="description" placeholder="Why I can close this" class="sidebar-input"></textarea>
                    <button type="button" class="btn btn-primary" ng-click="submitApplication">Submit My Bid</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example col-xs-12 col-sm-8 pull-right">
        <h1>{{ job.jobTitle }}</h1>
        <p><strong>Date Posted: </strong> {{ job.dateAdded }}</p>
       <p>{{ job.jobDescription }}</p>
    </div>

    </div>

</div>