<div class="container">

    <div class="row">
    <div class="col-xs-12 col-sm-4 pull-left">
        <div class="filterbox col-sm-12">
            <div class="list-group bs-example">

                <hr/>
                <img src="{{ company.image }}" width="175px" class="img-responsive center">
                <br/>
                <div class="text-center">
                <h4>{{ company.companyName }}</h4>

                <p>{{ company.street }}<br/>
                    {{ company.city }}, {{ company.state }}
                    <br/>{{ company.phone }}
                    <br/>{{ company.website }}
                </p>
                    </div>
                <hr/>
                <br/>
                <div>
                    <p><strong>Want to Apply?</strong> It's easy, just fill this out and submit.</p>
                    <input type="text" ng-model="cost" placeholder="My Fee" class="sidebar-input">
                    <textarea type="textarea" ng-model="description" placeholder="Why I can close this" class="sidebar-input"></textarea>
                    <button type="button" class="btn btn-primary" ng-click="submitApplication">Submit My Bid</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example col-xs-12 col-sm-8 pull-right">
        <h1>{{ job.jobTitle }}</h1>
        <div class="row">
            <div class="pull-left"><strong>Date Posted: </strong> {{ job.dateAdded }}</div>
            <div class="pull-right"><strong>Commission: </strong>{{ job.commission | currency}}</div>
        </div>
        <br/>

       <p>{{ job.jobDescription }}</p>
        <!--
        <img src="http://localhost:8001/static/{{ job.image }}" width="auto" class="img-responsive center">
        -->
        <img src="http://quotadeck-backend.herokuapp.com/static/{{ job.image }}" width="auto" class="img-responsive center">
    </div>

    </div>

</div>