<div class="container">
    <div class="alert alert-warning text-center">We are in Beta mode right now and are not currently allowing users to log in.
        <br/><strong>Be aware that this login form has been deactivated and will not let you log in</strong>
        </div>
   <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username" required autofocus ng-model="username">
        <input type="password" class="form-control" placeholder="Password" required ng-model="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
   </form>
</div>