<p class="text-center">
                <div class="row text-center">
                    <div class="col-lg-12">

                        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                        <style type="text/css">
                            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                        </style>
                        <div id="mc_embed_signup">
                        <form action="http://QuotaDeck.us3.list-manage.com/subscribe/post?u=f25f8251edd330539fb49683b&amp;id=f7e7c30f16" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="mc-field-group">
                            <input type="email" value="" name="EMAIL" placeholder="Email address" class="required email" id="mce-EMAIL">
                        </div>
                        <div class="mc-field-group">
                            <input type="text" value="" name="NAME" style="margin-top:10px;" placeholder="Full name" class="" id="mce-NAME">
                        </div>
                        <div class="mc-field-group input-group text-center" style="margin-left: auto; margin-right: auto;margin-top:10px; margin-bottom:10px;">
                            <input type="radio" value=" I'm a Salesperson" name="MMERGE3" id="mce-MMERGE3-0"><label for="mce-MMERGE3-0">I'm a Salersperson</label><br>
                        <input type="radio" value=" I'm Looking for Salespeople" name="MMERGE3" id="mce-MMERGE3-1"><label for="mce-MMERGE3-1">I'm Looking for Salespeople</label>

                        </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_f25f8251edd330539fb49683b_f7e7c30f16" value=""></div>
                            <div class="clear"><input type="submit" class="text-center" style="background-color: #42bb91;" value="notify me when you launch" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </form>
                        </div>
                    </div>
                </div>

            </p>