   <!--CONTENT GOES HERE-->
     <div class="starter-template center">
        <h1>Company Account registration</h1>


<!-- ------- This Page was copied from another project and needs to be reworked -------- -->



<div class="container">

    <div class="starter-template center">
        <h1>Account registration</h1>

        <p class="lead">Create a free Quote Deck account</p>

        <form novalidate role="form" name="registerForm" ng-submit="doRegister()" style="max-width: 300px;" ng-disabled="disabled" class="css-form form-register center">
            <!--
                <input type="text" name="email" ng-model="user.email" placeholder="Email Address" required="required" class="form-control form-group"/>
            -->
                <input type="text" name="username" ng-model="user.username" placeholder="User Name" required="required" class="form-control form-group"/>
                <input type="text" name="first_name" ng-model="user.firstname" placeholder="First name" required="required" class="form-control form-group"/>
                <input type="text" name="last_name" ng-model="user.lastname" placeholder="Last name" required="required" class="form-control form-group"/>
                <input type="text" name="email" ng-model="email" placeholder="Email" required="required" class="form-control form-group"/>
                <input type="text" name="emailconfirm" ng-model="user.email" placeholder="Confirm Email" required="required" class="form-control form-group"/>

                <input type="text" name="companyName" ng-model="company.companyName" placeholder="Company Name" required="required" class="form-control form-group"/>
                <input type="text" name="street" ng-model="company.street" placeholder="Street" required="required" class="form-control form-group"/>
                <input type="text" name="city" ng-model="company.city" placeholder="City" required="required" class="form-control form-group"/>
                <input type="text" name="state" ng-model="company.state" placeholder="State" required="required" class="form-control form-group"/>
                <input type="text" name="zip" ng-model="company.zip" placeholder="Zip" required="required" class="form-control form-group"/>
                <input type="text" name="zip" ng-model="company.zip" value="United States" placeholder="Country" required="required" class="form-control form-group"/>
                <input type="text" name="phone" ng-model="company.phone" placeholder="Phone" required="required" class="form-control form-group"/>
                <input type="text" name="website" ng-model="company.website" placeholder="Website" required="required" class="form-control form-group"/>
                <input type="text" name="revenue" ng-model="company.revenue" placeholder="Revenue" required="required" class="form-control form-group"/>
                <input type="text" name="employeeCount" ng-model="company.employeeCount" placeholder="Number of employees" required="required" class="form-control form-group"/>
                <input type="text" name="industry" ng-model="company.industry" placeholder="Industry" required="required" class="form-control form-group"/>
                <input type="text" name="productsServices" ng-model="company.productsServices" placeholder="Products Services" required="required" class="form-control form-group"/>
                <input type="text" name="website" ng-model="company.companyDescription" placeholder="Description" required="required" class="form-control form-group"/>
                <input type="text" name="companyType" ng-model="company.companyType" placeholder="Company Type" required="required" class="form-control form-group"/>
                <input type="text" name="password" placeholder="Password" required="required" class="form-control form-group"/>
                <input type="text" name="confirmPassword" ng-model="company.password" placeholder="Confirm Password" required="required" class="form-control form-group"/>
                


                <input type="password" name="password" ng-model="company.password" placeholder="Password" required="required" class="form-control form-group"/>
                <input type="password" name="passwordconfirm" ng-model="company.user.password" placeholder="Confirm Password" required="required" class="form-control form-group"/>
                
            <button type="button" class="btn btn-primary">Submit</button>
        </a>
        </form>
    </div>

</div>